# TO RUN THE PROJECT ON YOUR LOCAL LAPTOP JUST REMOVE .example FROM FILE NAME, 
# OR CREATE ANOTHER .env FILE WITH THE FOLLOWING VALUES

# WE KNOW THAT THESE VARIABLES SHOULDN'T BE PUSHED TO GITHUB BUT WE WANTED 
# TO CONNECT THE PROJECT TO THE DATABASE ON THE SERVER 
# AND SINCE IT'S NOT A REAL PROJECT AND THERE ARE NO SENSITIVE VARIABLES 
# APART FROM DATABASE URL WE JUST DECIDED TO PUSH IT

SECRET_KEY="django-insecure-d2)z$srx%yi%+pb4ent)f!sa7^9zb$c^r+a9b2kaxdae)rz$^k"
DATABASE_URL="postgresql://neondb_owner:npg_nKH51orUWiPh@ep-wandering-dawn-a2wqi9xs.eu-central-1.aws.neon.tech/neondb?sslmode=require"
DEBUG="True"