{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-6">
        <div class="page-header"><h1>Change Password</h1></div>

        <div class="card p-4">
            <form method="post">
                {% csrf_token %}
                {% include 'partials/_form_fields.html' %}
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary">Update password</button>
                    <a href="{% url 'accounts:profile' %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
